body{
  background-color: #f3f3f3;
}
/* We can keep this css component as well */

/* Responsive CSS for product listing */
@media (max-width: 1024px){
  .product-flex-container > div{
    max-width: calc(33.33% - 10px);
  }
}
@media (max-width: 768px){
  .product-flex-container > div{
    max-width: calc(50% - 10px);
  }
}
@media (max-width: 420px){
  .product-flex-container > div{
    max-width: 100%;
    margin: 10px 0;
    width: 100%;
  }
}